<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="esiea.mescle_nguyen_mobile" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name="esiea.mescle_nguyen_mobile.MainActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="esiea.mescle_nguyen_mobile.MainActivity2"
            android:screenOrientation="portrait" >
        </activity>

        <service android:name="esiea.mescle_nguyen_mobile.MyIntentService" />

    </application>

</manifest>
